@import url(../index.css);

.home-page {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--vertical-padding) var(--horizontal-padding);
    place-items: center;
    gap: 22px;
}

.home-page > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.home-page > header > h1 {
    font-family: var(--header-text);
    font-size: 4.5rem;
    font-weight: 600;
}

.home-page > header > h2 {
    font-family: var(--header-text);
    font-size: 1.4rem;
    font-weight: 500;
}

.home-page > .shop-navigation-link > .shop-button {
    font-family: var(--regular-text);
    font-size: 1rem;
    color: var(--pure-white);
    background-color: var(--dark-black);
    padding: var(--vertical-padding) var(--horizontal-padding);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.home-page > .shop-navigation-link > .shop-button:hover {
    background-color: var(--accent-blue);
    transform: scale(1.1);
}

@media only screen and ( max-width: 798px) {
    .home-page > header > h1 {
        text-align: center;
        font-size: clamp(2rem, 5.9vw, 4.5rem);
    }

    .home-page > header > h2 {
        text-align: center;
        font-size: clamp(0.8rem, 3.6vw, 1.2rem);
    }
}

@media only screen and ((min-width: 799px) and (max-width: 1024px)) {
    .home-page > header > h1 {
        text-align: center;
        font-size: clamp(2rem, 5.9vw, 4.5rem);
    }

    .home-page > header > h2 {
        text-align: center;
        font-size: clamp(1rem, 4.8vw, 1.2rem);
    }
}